html{
    background-image: url('../img/cookie2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
body{
    animation-name: animation-box;
    animation-duration: 3s;
}
/* Navigation */
.container{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px rgb(0, 0, 0,.05);
}

.container a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;   
    color:white;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border-radius: 50%;
    transition: 0.4s;
    

}
.container h1{
    position: absolute;
    left: 30px;
    font-size:35px;
    margin: 0px;
    padding: 0px;
    font-family: 'Cookie', cursive;
    color: white;
}

.container a:hover{
    color:  rgb(94, 94, 94);
}
/* End ---- Navigation */
/*  others things in index*/
.btn{
    background-repeat:no-repeat;
    font-family: 'Raleway', sans-serif;
    border: none;
    cursor:pointer;
    font-size: 13px;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px rgb(0, 0, 0,.05);
    top: 450px;
    left: 300px;
    outline:none;
    
}

.btn:hover{
    background-color: black;
    color: white;
}
.btn:active{
    background-color:white ;
    box-shadow: 0 5px rgb(0, 0, 0,.05);
    color: black;
    transform: translateY(4px);
  }

#slide{
    height: 500px;
    width: 500px;   
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 2px 2px 5px gray;
    top: 80px;
    left: 750px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: bgslide 10s linear infinite 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    background-image: url('../img/bread.jpg');
}
@keyframes bgslide{
    0% {
        background-image: url('../img/cookie1.jpg');
    }   
    25% {
        background-image: url('../img/bread.jpg');
    }
    50% {
        background-image: url('../img/cookie1.jpg');
    }
    75% {
        background-image: url('../img/bread.jpg');
    }
    100% {
        background-image: url('../img/cookie1.jpg');
    }
}
.box{
    position: absolute;
    font-size:60px;
    opacity: 0;
    left: 100px;
    top: 35%;
    text-shadow: 5px 5px 5px grey;
    font-family: 'Nunito', sans-serif; 
    color: white;
}

.b1{
    animation: ani1 15s infinite;
}
.b2{
    animation: ani2 15s infinite;
}

.b3{
    animation: ani3 15s infinite;
}
.b4{
    animation: ani4 15s infinite;
}
.b5{
    animation: ani5 15s infinite;
}
@keyframes ani1 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
}
@keyframes ani2 {
    25%{
        opacity: 0;
    }
    35%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
@keyframes ani3 {
    40%{
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
}
@keyframes ani4 {
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
}

@keyframes ani5 {
    75%{
        opacity: 0;
    }
    95%{
        opacity: 1;
    }
    100%{   
        opacity: 0;
    }
}
/*  End of things in index*/
/*  menu */

@keyframes conani1{
    0%{
        left: 0%;
        opacity: 0;
    }
    30%{
        left: 50%;
        opacity: 1;
    }
}
@keyframes conani2{
    0%{
        left: 0%;
        opacity: 0;
    }
    60%{
        left: 50%;
        opacity: 1;
    }
}
@keyframes conani3{
    0%{
        left: 0%;
        opacity: 0;
    }
    100%{
        left: 50%;
        opacity: 1;
    }
}
@keyframes animation-box {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.treats{
    animation-name: conani1;
    animation-duration: 2s;
    
    overflow: hidden;
    position: absolute;
    width: 573px;
    height: 200px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(0, 0, 0,.05);
    display: flex;
}
.treats2{
    animation-name: conani2;
    animation-duration: 2s;
    
    overflow: hidden;
    position: absolute;
    width: 573px;
    height: 200px;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(0, 0, 0,.05);
    display: flex;
}
.treats3{
    animation-name: conani3;
    animation-duration: 2s;
    position: absolute;
    width: 573px;
    height: 200px;
    top:  700px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(0, 0, 0,.05);
    display: flex;
}
.treats .t1-content{
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0px;
    

}
.treats2 .t2-content{

    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0px;
    

}
.treats3 .t3-content{

    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0px;
    

}
.treats .t1-content h1{
    padding-left: 0px;
    margin: 0px;
    font-family: 'Cookie', cursive;;
    font-size: 50px;

}
.treats2 .t2-content h1{
    padding-left: 0px;
    margin: 0px;
    font-family: 'Cookie', cursive;;
    font-size: 50px;

}
.treats3 .t3-content h1{
    padding-left: 0px;
    margin: 0px;
    font-family: 'Cookie', cursive;;
    font-size: 50px;

}
.t-img img{
    width: 200px;
    height: 200px;
    flex: 0 0 150px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0,.05);
}
.t-img1 img{
    width: 200px;
    height: 200px;
    flex: 0 0 150px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0,.05);
}
.t-img2 img{
    width: 200px;
    height: 200px;
    flex: 0 0 150px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0,.05);
}
/*  End of Menu*/


button{
    border: 2px white;
    background: black;
    color: white;
    padding:  10px 10px;
    box-shadow: 5px 5px rgb(0, 0, 0,.05) ;
    position: absolute;
    text-shadow: 2px 2px 4px white;
    left: 80%;
    font-family:'Raleway', sans-serif;
    border-radius: 10px;
    
}
button:hover{
    box-shadow: 0 0 5px 5px rgb(0, 0, 0,.05);
    background-color: white;
    color: black;
}
button:active{
    background-color:black ;
    box-shadow: 0 5px rgb(0, 0, 0,.05);
    color: white;
    transform: translateY(4px);
  }
/* Review */
.person-1 {
    top: 100px;
    left: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px;  
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(0, 0, 0,.05);
    display: flex;
    box-sizing: border-box;
    display: flex;
   
}
img{
    height: 80px;
    width:80px;
    border-radius: 50px;
    
}
h1{
    padding-left: 0px;
    font-size: 20px;
    margin: 0;
    
}






